
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> 

<html ng-app="app"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>TicTacToe</title>
  
  <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.css">

</head>
<body>

	<div class="title">
		<img src="images/logo.png"></img>	
	</div>

	<div class="main-container">
		<div ng-view></div>		
	</div>

	<!-- Angularjs and Jquery -->
	<script type="text/javascript" src="javascripts/vendor/angular_v1_2_7.js"></script>
	<script type="text/javascript" src="javascripts/vendor/ngRoute_v1_2_7.js"></script>
	<script type="text/javascript" src="javascripts/vendor/jquery.js"></script>

	<!-- Socket IO -->
	<script src="/socket.io/socket.io.js"></script>

	<!-- Bootstrap -->
	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>

	<!-- Controllers -->
	<script type="text/javascript" src="javascripts/controllers/appControllers.js"></script>

	<!-- Directives -->
	<script type="text/javascript" src="javascripts/directives/tttDirectives.js"></script>

	<!-- Services -->
	<script type="text/javascript" src="javascripts/services/appServices.js"></script>



</body>
</html>
