/* ------------------------
 * Index page
 * ------------------------
 */
/* line 10, ../sass/app.scss */
html, body {
  width: 100%;
  height: 100%;
  background-color: #2F70A7;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 20, ../sass/app.scss */
div.top-padding {
  height: 10%;
  min-height: 10%;
}

/* line 25, ../sass/app.scss */
div.main-container {
  height: 90%;
  min-height: 90%;
}

/* line 30, ../sass/app.scss */
div.content {
  height: 100%;
}

/* line 34, ../sass/app.scss */
div.content-background {
  background: white;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  /* Centers div horizontally */
  float: none;
  margin: 0 auto;
}

/* line 46, ../sass/app.scss */
div.content-container {
  margin: 1em;
}

/* line 50, ../sass/app.scss */
img.avatar {
  border: 1px solid #000000;
}

/* line 56, ../sass/app.scss */
div.title img {
  /* Centers image horizontally */
  display: block;
  margin: 0 auto;
}
/* line 62, ../sass/app.scss */
div.title h1 {
  font-size: 5em;
  font-family: "Verdana";
  text-align: center;
}

/* ------------------------
 * Home page
 * ------------------------
 */
/* line 76, ../sass/app.scss */
div.home .options {
  padding-top: 2.8em;
}
/* line 79, ../sass/app.scss */
div.home .options > .label {
  padding-right: 0.2em;
  font-size: 1em;
  color: #ccc;
}
/* line 86, ../sass/app.scss */
div.home div.login-form {
  /* Centers div horizontally */
  float: none;
  margin: 0 auto;
}
/* line 94, ../sass/app.scss */
div.home div.form-group {
  padding: 0 0 1em 0;
}
/* line 99, ../sass/app.scss */
div.home div.quick-game {
  text-align: center;
  padding-bottom: 1em;
}
/* line 102, ../sass/app.scss */
div.home div.quick-game a {
  font-weight: bold;
}
/* line 109, ../sass/app.scss */
div.home button {
  margin: 0 0.5em 0 0;
}

/* ------------------------
 * Registration page
 * ------------------------
 */
/* line 121, ../sass/app.scss */
div.register a {
  padding-left: 1em;
}

/* ------------------------
 * Waiting Room
 * ------------------------
 */
/* line 133, ../sass/app.scss */
div.waitingroom h2.title {
  padding-bottom: 1em;
}
/* line 137, ../sass/app.scss */
div.waitingroom div {
  text-align: center;
}
/* line 142, ../sass/app.scss */
div.waitingroom button {
  margin: 1em 0 1.5em 0;
}
/* line 146, ../sass/app.scss */
div.waitingroom div.countdown {
  font-size: 70px;
}

/* ------------------------
 * Create Game
 * ------------------------
 */
/* line 158, ../sass/app.scss */
div.creategame h2.title {
  padding-bottom: 1em;
}
/* line 162, ../sass/app.scss */
div.creategame div {
  text-align: center;
}
/* line 168, ../sass/app.scss */
div.creategame button {
  margin: 1em 0 1.5em 0;
}

/* ------------------------
 * Lobby
 * ------------------------
 */
/* line 180, ../sass/app.scss */
div.lobby div {
  text-align: center;
}
/* line 184, ../sass/app.scss */
div.lobby .table-cell {
  padding-left: 0;
  padding-right: 0;
}
/* line 189, ../sass/app.scss */
div.lobby .game {
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 194, ../sass/app.scss */
div.lobby a:hover {
  text-decoration: none;
}
/* line 198, ../sass/app.scss */
div.lobby a {
  font-weight: bold;
}
/* line 202, ../sass/app.scss */
div.lobby .game:hover {
  background-color: #fffdea;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 207, ../sass/app.scss */
div.lobby button {
  margin-top: 1em;
}

/* ------------------------
 * Game
 * ------------------------
 */
/* line 219, ../sass/app.scss */
div.game div {
  text-align: center;
}
/* line 223, ../sass/app.scss */
div.game div.top {
  padding-bottom: 2em;
}
/* line 227, ../sass/app.scss */
div.game div.bottom {
  padding-top: 1em;
}
/* line 231, ../sass/app.scss */
div.game table {
  width: 100%;
  border: 0;
}
/* line 236, ../sass/app.scss */
div.game td.square {
  text-align: center;
  height: 100px;
  width: 100px;
  padding: 0;
}
/* line 242, ../sass/app.scss */
div.game td.square a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
/* line 250, ../sass/app.scss */
div.game td.vertical-borders {
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}
/* line 255, ../sass/app.scss */
div.game td.horizontal-borders {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}
