/* Index */
/* line 4, ../sass/app.scss */
div.main-container {
  width: 100%;
  padding-top: 10%;
}

/* Home page */
/* line 14, ../sass/app.scss */
div.home h2 {
  font-size: 2em;
  border-bottom: 1px solid #ccc;
  color: #0c0c24;
  padding: 0 0 0.2em 0;
}
/* line 21, ../sass/app.scss */
div.home .options {
  padding-top: 2.8em;
}
/* line 24, ../sass/app.scss */
div.home .options > .label {
  padding-right: 0.2em;
  font-size: 1em;
  color: #ccc;
}
/* line 31, ../sass/app.scss */
div.home div.form-group {
  padding: 0.5em 0 0 1em;
}
/* line 35, ../sass/app.scss */
div.home button {
  margin: 0 0.5em 0 0;
}

/* line 42, ../sass/app.scss */
div.register a {
  padding-left: 1em;
}
