@import "compass/css3";
@import "compass/utilities";


/* ------------------------
 * Index page
 * ------------------------
 */

html, body {
	width: 100%;
	height: 100%;
	background-color: #2F70A7;
	background-image: url('../images/background.png'); 
	background-repeat: no-repeat;
	background-position: center;
	@include background-size(cover);
}

div.main-container {
	width: 100%;
}

div.content-background {
	background: white;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	@include border-radius(10px);

	/* Centers div horizontally */
	float: none;
    margin: 0 auto;
}

div.content-container {
	margin: 1em;
}

div.title {
	width: 100%;
	padding-top: 6%;
	

	img {
		/* Centers image horizontally */
		display: block; 
		margin: 0 auto; 
	}
	
	h1 {
		font-size: 5em;
		font-family: "Verdana";
		text-align:center;
	}
}

/* ------------------------
 * Home page
 * ------------------------
 */

div.home {

	.options {
		padding-top: 2.8em;

		>.label {
			padding-right: 0.2em;
			font-size: 1em;
			color : #ccc;
		}
	}

	div.login-form {

		/* Centers div horizontally */
		float: none;
	    margin: 0 auto;

	}

	div.form-group {
		padding: 0 0 1em 0;
	}


	div.quick-game {
		text-align: center;

		a {
			font-weight:bold;
		}

		padding-bottom: 1em;
	}

	button {
		margin: 0 0.5em 0 0;
	}
}

/* ------------------------
 * Registration page
 * ------------------------
 */

div.register {

	a {
		padding-left: 1em;
	}
}

/* ------------------------
 * Waiting Room
 * ------------------------
 */

div.waitingroom {

	h2.title {
		padding-bottom: 1em;
	}

	div {

		text-align: center;
	}

	img.avatar {
		border: 1px solid #000000;
	}

	button {
		margin: 1em 0 1.5em 0;
	}
}

/* ------------------------
<<<<<<< HEAD
 * Create Game
 * ------------------------
 */
div.creategame {
=======
 * Lobby
 * ------------------------
 */

div.lobby {
>>>>>>> 7e125d7368af9addb9528836963ed1240982a773

	h2.title {
		padding-bottom: 1em;
	}

	div {

		text-align: center;
	}

<<<<<<< HEAD
	img.avatar {
		border: 1px solid #000000;
	}

	button {
		margin: 1em 0 1.5em 0;
=======
	li {
		list-style-type: none;
	}

	.game:hover {
		background-color:#FBFAF4;
	}

	p {
		margin: 0 0 0 0;
>>>>>>> 7e125d7368af9addb9528836963ed1240982a773
	}
}

