@import "compass/css3";
@import "compass/utilities";


/* ------------------------
 * Index page
 * ------------------------
 */

html, body {
	width: 100%;
	height: 100%;
	background-color: #2F70A7;
	background-image: url('../images/background.png'); 
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	@include background-size(cover);
}

div.top-padding {
	height: 10%;
	min-height: 10%;
}

div.main-container {
	height: 90%;
	min-height: 90%;
}

div.content {
	height: 100%;
}

div.content-background {
	background: white;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	@include border-radius(10px);

	/* Centers div horizontally */
	float: none;
    margin: 0 auto;
}

div.content-container {
	margin: 1em;
}

div.title {
	
	img {
		/* Centers image horizontally */
		display: block; 
		margin: 0 auto; 
	}
	
	h1 {
		font-size: 5em;
		font-family: "Verdana";
		text-align:center;
	}
}

/* ------------------------
 * Home page
 * ------------------------
 */

div.home {

	.options {
		padding-top: 2.8em;

		>.label {
			padding-right: 0.2em;
			font-size: 1em;
			color : #ccc;
		}
	}

	div.login-form {

		/* Centers div horizontally */
		float: none;
	    margin: 0 auto;

	}

	div.form-group {
		padding: 0 0 1em 0;
	}


	div.quick-game {
		text-align: center;

		a {
			font-weight:bold;
		}

		padding-bottom: 1em;
	}

	button {
		margin: 0 0.5em 0 0;
	}
}

/* ------------------------
 * Registration page
 * ------------------------
 */

div.register {

	a {
		padding-left: 1em;
	}
}

/* ------------------------
 * Waiting Room
 * ------------------------
 */

div.waitingroom {

	h2.title {
		padding-bottom: 1em;
	}

	div {
		
		text-align: center;
	}

	img.avatar {
		border: 1px solid #000000;
	}

	button {
		margin: 1em 0 1.5em 0;
	}

	div.countdown {
		font-size: 70px;
	}
}

/* ------------------------
 * Create Game
 * ------------------------
 */

div.creategame {

	h2.title {
		padding-bottom: 1em;
	}

	div {

		text-align: center;
	}


	button {
		margin: 1em 0 1.5em 0;
	}
}

/* ------------------------
 * Lobby
 * ------------------------
 */

div.lobby {

	div {
		text-align: center;
	}

	.table-cell {
		padding-left: 0;
		padding-right: 0;
	}

	.game {
		padding-top: 3px;
		padding-bottom: 3px;
	}

	a:hover {
		text-decoration: none;
	}

	a {
		font-weight: bold;
	}

	.game:hover {
		background-color:#fffdea;
		@include border-radius(3px);
	}

	button {
		margin-top: 1em;
	}
}

/* ------------------------
 * Game
 * ------------------------
 */

div.game {
	min-height: 100%;

	div.square {
		text-align: center;
		height: 33%;
		width: 33%;
	}

	div.vertical-borders {
		border-left:3px solid #000;
    	border-right:3px solid #000;
	}

	div.horizontal-borders {
    	border-top:3px solid #000;
    	border-bottom:3px solid #000;
	}
}