<div class="avatarmenu">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-sm-5 col-md-4 login-form content-background">
				<!-- This section is where the current avatar is being displayed. -->
				<div class="row row-spacing">
					<div class="col-md-5 col-md-offset-4">
						<img src="../../images/avatars/default.png" class="img-responsive" alt="Responsive image">
					</div>
				</div>
				<!-- This section is where the buttons are being displayed. -->
				<div class="row row-spacing">
					<div class="content-container">
						<form method="post" class="form-horizontal" role="form"> 
							<div class="form-group" align="center">
								<button ng-click="avatarMenu.uploadNew()" name="uploadNew" type="button" class="btn btn-primary">Upload new</button>
								<button ng-click="avatarMenu.useDefault()" name="useDefault" type="button" class="btn btn-primary">Use default</button>
								<button ng-click="avatarMenu.back()" name="back" type="button" class="btn btn-default">Back</button>
								<!-- This will let the user select a file on its file system. -->
								<!--<input type="file" ng-file-select="avatarMenu.onFileSelect($file)" name="avatar" accept="image/*" >-->
								<!-- <div ng-controller="AvatarMenuController"> -->
								<input type="file" id="file" name="file" onchange="angular.element(this).scope().inputSelectChange()" accept="image/*"/>
								<!-- </div> -->
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
