<div class="avatarmenu">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-sm-5 col-md-4 login-form content-background">
				<!-- This section is where the current avatar is being displayed. -->
				<div class="row row-spacing">
					<div class="col-md-5 col-md-offset-4">
						<img src="../../images/avatars/default.png" class="img-responsive" alt="Responsive image">
					</div>
				</div>
				<!-- This section is where the buttons are being displayed. -->
				<div class="row row-spacing">
					<div class="content-container">
						<form method="post" class="form-horizontal" role="form"> 
							<div class="form-group" align="center">
								<button ng-click="avatarMenu.uploadNew()" name="uploadNew" type="button" class="btn btn-primary">Upload new</button>
								<button ng-click="avatarMenu.useDefault()" name="useDefault" type="button" class="btn btn-primary">Use default</button>
								<button ng-click="avatarMenu.back()" name="back" type="button" class="btn btn-default">Back</button>
							</div>
						</form>
					</div>

					<!--
					<div class="col-md-10 col-md-offset-1">
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<button type="button" class="btn btn-default">Upload new</button>
							</div>
						 	<form name="useDefaultAvatar" action="/api/v1/setDefaultAvatar" method="post">
						  		<div class="btn-group">
						    		<button type="button" class="btn btn-default">Use default</button>
						  		</div>
							</form>
						  <div class="btn-group">
						    <a href="#/mainmenu"><button type="button" class="btn btn-default">Back</button></a>
						  </div>
						</div>
					</div>
					-->
				</div>
			</div>
		</div>
	</div>
</div>
