<p style="font: 12px Helvetica">Henry: Hello, my name is Henry. Thank you for choosing Bank of America and our Online Banking Text Chat service. May I have your full name and zip code as on your account?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Nathan Nelson and &lt;edited&gt;</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Thank you, Nathan.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: How may I assist you today?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: I&#8217;m trying to reset my passcode.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: I understand your concern. <span style="font-weight: bold;font-style: italic">(Every time I get a response like this, online, I start trying to guess whether I&#8217;m talking to man or machine)</span></p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Let us quickly work together to resolve this.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: May I have your Online ID?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: It&#8217;s &lt;edited&gt;</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Thank you.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Let me check that for you right away.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: np</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: I see that you are not enrolled into Online.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Oh, I assumed we were, since we had an Online ID.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Okay. That&#8217;s not a problem.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Ok, good.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: I shall give you a series of simple guidelines (as below) which would make the enrollment process easier.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: I request you to copy and save or take a print of the guidelines so that it makes the process much easier.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: ok</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Would that be alright?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: I think so, as long as it&#8217;s different from what I&#8217;m already trying.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Okay.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: May I ask you a few questions for verification before I can proceed?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Sure.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Once again, thank you, Nathan.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Could you please confirm the credit limit and expiry date on your credit card ending with &lt;edited&gt;?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: one sec.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Sure! I will be glad to wait for you.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: My wife and I have cards ending in &lt;edited&gt;</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: With an expiry date of &lt;edited&gt;</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Alright! <span style="font-style: italic;font-weight: bold">(He&#8217;s way too excited about this)</span></p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: May I know the account number you are trying to access now?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: I&#8217;m not sure what it is, it&#8217;s the one associated with the two credit cards that BOA issued to us</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Do I need to find a statement, then?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Yes, please.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: I am sorry we are having trouble connecting. I received your last message. I will be closing this chat session. Please feel free to chat with us in the future. You can find us by clicking on the &#8220;Chat Online Now&#8221; link wherever it appears in the Talk to a Specialist module. Thank you for choosing Bank of America.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Are you there?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Yes, may I know the account number?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Yes, let me type that&#8230;</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Sure! <span style="font-style: italic;font-weight: bold">(Again, with the unnecessary enthusiasm)</span></p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: &lt;edited&gt;</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Thank you.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Please give me a moment.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: I personally apologize for the inconvenience caused to you. <span style="font-weight: bold;font-style: italic">(I soon learn that this kind of statement means there is bad news coming)</span></p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: I do not see your name listed in the above account number provided by you. <span style="font-weight: bold;font-style: italic">(And there it is)</span></p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: This account does not belong to you.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Are you still with me? Please respond so I can leave this chat window open to answer any questions for you.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: one sec</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Okay. <span style="font-weight: bold;font-style: italic">(Henry&#8217;s getting bummed out that I responded. What, no &#8220;Okay!&#8221;?</span></p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: This account is my wife&#8217;s, but I have a card under this account.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: So is it possible for me to chat with the account holder?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: She&#8217;s in the room with me, now. <span style="font-weight: bold;font-style: italic">(Me, sort of lying. I figured, this is the internet. He&#8217;s giving my false apologies; I&#8217;ll step in as my wife, for a sec&#8230;)</span></p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Okay.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: May I have your full name and zip code as on your account?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: &lt;edited&gt;</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Thank you, Wendy.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: One moment please, while I look up your account information.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Thanks <span style="font-style: italic;font-weight: bold">(Me, Insincere)</span></p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: May I ask you a few questions for verification before I can proceed?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Yes</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Once again, thank you, &lt;edited&gt;.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Do you recall your verbal password?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: No, I don&#8217;t.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: That&#8217;s not a problem. I can ask you another question.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Sure.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Could you please confirm the date of birth of your joint-signer Nathan?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Yes, it&#8217;s &lt;edited&gt;</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Thank you.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Could you please confirm the last 4 digits of the Social Security Number of your joint signer Nathan?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: &lt;edited&gt;</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Thank you.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Could you please confirm the credit limit on your credit card ending with &lt;edited&gt;?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: The last statement that I have shows the credit line being &lt;edited&gt;</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Thank you.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: I apologize, the information provided does not match our records and for the security of your account we need to ask you additional questions.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: That&#8217;s fine.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Could you please confirm the current balance on the card?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Ok, I am working with an old statement, so the information will not be correct, but what I have on a statement from 2008 is &lt;edited&gt;</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Thank you.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: I sincerely apologize for the inconvenience but I am not able to successfully verify you at this time.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Personally I request you the next time you chat with us please have your account related information with you. <span style="font-weight: bold;font-style: italic">(Not sure why this needs to be &#8220;personal&#8221;, but ok&#8230;)</span></p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: We will be more than happy to assist you with your Online Banking. <span style="font-weight: bold;font-style: italic">(Except, apparently not)</span></p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: I recommend calling our trained specialists for telephone assistance directly at 1.800.933.6262.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: After 40 minutes of this, there&#8217;s nothing you can do for me? What do I do if I don&#8217;t have a recent statement? What do you do for those of us who don&#8217;t receive paper</p>
<p style="font: 12px Helvetica">statements, but can&#8217;t login, online?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: We understand the urgency of your need to have immediate access to your accounts.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: However, the account security is the prime importance for us.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: Please call us at 1.800.933.6262.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Can they help me, or are they going to put me off, also?</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: Nevermind. Have a great day. <span style="font-weight: bold;font-style: italic">(Me, giving up)</span></p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: I am pretty sure they will be assisting you. <span style="font-weight: bold;font-style: italic">(Even he&#8217;s not optimistic)</span></p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: I appreciate your time and patience in this matter.</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Henry: It was nice chatting with you. Enjoy the rest of your day!</p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">Last text message receivedHenry: Take care and bye. <img src="http://bloodytoe.nelsonshack.com/wp-includes/images/smilies/icon_smile.gif" alt=":-)" class="wp-smiley" /> </p>
<p style="font: 12px Helvetica"></p>
<p style="font: 12px Helvetica">You: I&#8217;m pretty sure they won&#8217;t. Bye. <span style="font-weight: bold;font-style: italic">(Me, responding to his &#8220;I am pretty sure they will be assisting you&#8221; line</span></p>
<p style="font: 12px Helvetica"></p>