<div class="creategame">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-8 content-background">
				<div class="row">
					<h2 class="title">Game settings</h2>
				</div>
				<form method="post" class="form-horizontal" role="form">
					<div class="row">
					<div class="col-md-12">Number of games needed to win</div>
					</div>
					<div class="row">
						<div class="radio">
	  						<div class="col-md-4">
	  						</div>
	  						<div class="col-md-1">
	  						 	<label>
						    		<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>2/3
						  		</label>
	  						 </div>
	  						 <div class="col-md-1">
	  						 	<label>
						    		<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>3/5
						  		</label>
	  						 </div>
	  						 <div class="col-md-1">
	  						 	<label>
						    		<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>4/7
						  		</label>
	  						 </div>
	  						 <div class="col-md-1">
	  						 	<label>
						    		<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>5/9
						  		</label>
	  						 </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 .col-md-offset-8">
							<div class="dropdown">
								  <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
								    Set time for each round <span class="caret"></span> 
								  </a>
								  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2 sec</a></li>
								    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3 sec</a></li>
								    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5 sec</a></li>
								    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">8 sec</a></li>
								    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10 sec</a></li>
								  </ul>
							</div>
						</div>
					</div>
					<button ng-click="#" 	type="button" 	class="btn btn-primary">Cancel</button>
					<button ng-click="#" 	type="button" 	class="btn btn-primary">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>
		