<div class="game">
	<div class="container">
		<div class="row" style="height:100%">
			<div class="col-xs-11 col-sm-10 col-md-8 content-background">
				<div class="content-container">
					<div class="row top">
						<div class="col-xs-4 col-sm-4 col-md-4">
							<img src="images/test-avatar.png" class="avatar"></img><br>
							<b>Player 1</b>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<font size="4em"><b>Player 1's turn</b></font><br>
							00:00 remaining<br><br>
							Round 1/2<br>
							Previous round winner: None
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<img src="images/unknown-player-avatar.png" class="avatar"></img><br>
							<b>Player 2</b>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<!-- TODO: Display appropriate images in each square -->
							<table>
								<tr>
									<td class="square" valign="middle">
										<a href="" ng-click="">(0,0)</a>
									</td>
									<td class="square vertical-borders">
										<a href="" ng-click="">(0,1)</a>
									</td>
									<td class="square">
										<a href="" ng-click="">(0,2)</a>
									</td>
								</tr>
								<tr>
									<td class="square horizontal-borders">
										<a href="" ng-click="">(1,0)</a>
									</td>
									<td class="square horizontal-borders vertical-borders">
										<a href="" ng-click="">(1,1)</a>
									</td>
									<td class="square horizontal-borders">
										<a href="" ng-click="">(1,2)</a>
									</td>
								</tr>
								<tr>
									<td class="square">
										<a href="" ng-click="">(2,0)</a>
									</td>
									<td class="square vertical-borders">
										<a href="" ng-click="">(2,1)</a>
									</td>
									<td class="square">
										<a href="" ng-click="">(2,2)</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="row bottom">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <b>Winning Message</b>
                        </div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<form method="post" class="form-horizontal" role="form"> 
								<button	ng-click="game.exitGame()" type="button" 	class="btn btn-primary">Quit Game</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>