 <div class="game">
	<div class="container">
		<div id="processing-modal" role="dialog" aria-hidden="true" data-show="true" ng-show="game.load">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="text-center">
		                    <img src="http://www.travislayne.com/images/loading.gif" class="icon" />
		                    <h4>Processing... </h4>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="row" style="height:100%" ng-hide="game.load">
			<div class="col-xs-11 col-sm-10 col-md-8 content-background">
				<div class="content-container">
					<div class="row top">
						<div class="col-xs-4 col-sm-4 col-md-4" id="creator">
							<img src="images/test-avatar.png" class="avatar"></img><br>
							<b>{{game.creator}}</b>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4" id="gameinfo">
							<div class="row">
								<div class="col-md-12">
									<font size="4em"><b>PlayerX's turn</b></font><br>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									00:{{ game.timer }} remaining<br><br>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									Round {{game.round}}/{{ game.rounds}}<br>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									Previous round winner: {{game.recentWinner}}<br>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									Who start the first move: {{game.starter}}
								</div>
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4" id="otherplayer">
							<img src="images/unknown-player-avatar.png" class="avatar"></img><br>
							<b>{{game.newPlayer}}</b>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<!-- TODO: Display appropriate images in each square -->
							<table>
								<tr>
									<td class="square" valign="middle" ng-click="game.placeToken(0,0)">
										<img src="../images/{{game.grid[0][0]}}-token.png" class="img-responsive center-block" alt="Responsive image" id="0-0">
									</td>
									<td class="square vertical-borders" ng-click="game.placeToken(0,1)">
										<img src="../images/{{game.grid[0][1]}}-token.png" class="img-responsive center-block" alt="Responsive image" id="0-1">
									</td>
									<td class="square" ng-click="game.placeToken(0,2)">
										<img src="../images/{{game.grid[0][2]}}-token.png" class="img-responsive center-block" alt="Responsive image" id="0-2">
									</td>
								</tr>
								<tr>
									<td class="square horizontal-borders" ng-click="game.placeToken(1,0)">
										<img src="../images/{{game.grid[1][0]}}-token.png" class="img-responsive center-block" alt="Responsive image" id="1-0">
									</td>
									<td class="square horizontal-borders vertical-borders" ng-click="game.placeToken(1,1)">
										<img src="../images/{{game.grid[1][1]}}-token.png" class="img-responsive center-block" alt="Responsive image" id="1-1">
									</td>
									<td class="square horizontal-borders" ng-click="game.placeToken(1,2)">
										<img src="../images/{{game.grid[1][2]}}-token.png" class="img-responsive center-block" alt="Responsive image" id="1-2">
									</td>
								</tr>
								<tr>
									<td class="square" ng-click="game.placeToken(2,0)">
										<img src="../images/{{game.grid[2][0]}}-token.png" class="img-responsive center-block" alt="Responsive image" id="2-0">
									</td>
									<td class="square vertical-borders" ng-click="game.placeToken(2,1)">
										<img src="../images/{{game.grid[2][1]}}-token.png" class="img-responsive center-block" alt="Responsive image" id="2-1">
									</td>
									<td class="square" ng-click="game.placeToken(2,2)">
										<img src="../images/{{game.grid[2][2]}}-token.png" class="img-responsive center-block" alt="Responsive image" id="2-2">
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="row bottom">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <b>Winning Message</b>
                        </div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<form method="post" class="form-horizontal" role="form"> 
								<button	ng-click="game.exitGame()" type="button"  name="quitgame"	class="btn btn-primary">Quit Game</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>