<div class="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12"><h2>Login</h2></div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<form method="post" class="form-inline" role="form"> 
					<div class="form-group">
						<input type="text" class="form-control" ng-model="home.user.username" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" ng-model="home.user.password" placeholder="Password">
					</div>
					<button ng-click="home.login()" type="button" class="btn btn-primary btn-sm">Login</button>
					<button ng-click="home.register()" type="button" class="btn btn-default btn-sm">Register</button>
				</form>
			</div>
			<div class="col-md-8">
				<div class="row options">
					<div class="col-md-1 label"> or </div>
					<a href="#/singleplayer" class="col-mg-11">Quick Single Player Game</a>
				</div>
			</div>
		</div>
	</div>
</div>