<div class="lobby">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-8 content-background">
				<div class="row">
					<h2 class="title">Welcome in the game lobby</h2>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<h3>Available games</h3>
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-3">
                            	<span><b>Host</b></span>
                            </div>
                            <div class="col-md-3">
                                <span><b>Rounds</b></span>
                            </div>
                            <div class="col-md-3">
                                <span><b>Countdown</b></span>
                            </div>
                            <div class="col-md-3">
                                <span><b>Join</b></span>
                            </div>
                        </div>
						<ul>
							<li ng-repeat="game in lobby.games">
								<div class="row game">
									<div class="col-md-3">
										<span>{{ game.creator }}</span>
									</div>
									<div class="col-md-3">
										<span>{{ game.rounds }}</span>
									</div>
									<div class="col-md-3">
										<span>{{ game.time }}</span>
									</div>
									<div class="col-md-3">
										<p ng-click="lobby.joinGame(game)" class="text-right">join</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<h3>Online Players</h3>
							</div>
						</div>
                        <div class="col-md-12">
							<div class="col-md-6">
	                            <span><b>Player Name</b></span>
	                        </div>
	                        <div class="col-md-6">
	                            <span><b>Player Score</b></span>
	                        </div>
                        </div>
						<ul>
							<li ng-repeat="player in lobby.players">
								<div class="row">
									<div class="col-md-6">
										<span>{{ player.username }}</span>
									</div>
									<div class="col-md-6">
										<span>Score 1600</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12"><a href="#/creategame">Create a game	</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
