<div class="mainmenu">
	<ul>
		<li ng-click="main.joinLobby()">Go to MultiPlayer Lobby</li>
		<li class="red">Single Player Game</li>
		<li>Settings</li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</div>