<div class="mainmenu">
	<ul>
		<li><a href="#/lobby">Go to MultiPlayer Lobby</a></li>
		<li class="red">Single Player Game</li>
		<li>Settings</li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</div>