<<div class="mainmenu">
	<div class="container">
		<div class="row">
			<div class="col-xs-11 col-sm-11 col-md-8 content-background">
				<div class="content-container">
					<div class="row">
						<center><h2>Main Menu</h2></center>
					</div>
					<div class="row">
					<div class="col-md-12 col-md-offset-4">
						<ul>
							<li><b><a href="#/lobby">Go to MultiPlayer Lobby</a></b></li>
							<li class="red"><b>Single Player Game</b></li>
							<li><b><a href="#/avatarmenu">Avatar</a></b></li>
							<li><b><a href="/logout">Logout</a></b></li>
						</ul>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>