<div class="waitingroom">
	<div class="container">
		<div class="row">
			<div class="col-xs-11 col-sm-10 col-md-8 content-background">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<h2 class="title">Waiting for a player to join...</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5 col-sm-5 col-md-5">
						<img src="images/test-avatar.png" class="avatar"></img>
						<p><b>{{waitingroom.creator}}</b></p>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 countdown" ng-show="waitingroom.gameStarted" ng-controller="WRController">
						{{ waitingroom.counter}}
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 countdown" ng-hide="waitingroom.gameStarted">
						v.
					</div>
					<div class="col-xs-5 col-sm-5 col-md-5">
						<img src="images/unknown-player-avatar.png" class="avatar">
						<p><b>{{waitingroom.newPlayer}}</b></p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p>
							<b>Game settings:</b><br>
							{{waitingroom.rounds}} rounds total / {{waitingroom.timer}} seconds per round
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<form method="post" class="form-horizontal" role="form"> 
							<button	ng-click="waitingroom.exitGame()" type="button" 	class="btn btn-primary">Cancel</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
