<div class="waitingroom">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-8 content-background">
				<div class="row">
					<h2 class="title">Waiting for a player to join...</h2>
				</div>
				<div class="row">
					<div class="col-md-5">
						<img src="images/test-avatar.png" class="avatar"></img>
						<p><b>Mickey</b></p>
					</div>
					<div class="col-md-2">
						<h2>vs.</h2>
					</div>
					<div class="col-md-5">
						<img src="images/unknown-player-avatar.png" class="avatar">
						<p><b>Unknow player</b></p>
					</div>
				</div>
				<div class="row">
					<p>
						<b>Game settings:</b><br>
						0 rounds / 00:00 per round
					</p>
				</div>
				<div class="row">
					<form method="post" class="form-horizontal" role="form"> 
						<button ng-click="#" 	type="button" 	class="btn btn-primary">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
